
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/DashBoard/_Layout.cshtml";
}
<!-- Preloader -->
<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="~/DashBoard/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
</div>

<h1>Index</h1>

